*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #D1E8E2;
  color: #2C3531;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
  hyphens: auto;
  text-transform: lowercase;
  line-height: 1.6;
}

.underline-effect, h3, h2, h1 {
  font-weight: 700;
  color: #116466;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  color: #D9B08C;
  text-shadow: 0 1px rgba(44, 53, 49, 0.3);
}

h5 {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.underline-effect {
  font-size: 20px;
  margin: 5px 0;
  padding: 15px 0;
  position: relative;
}

.underline-effect::before {
  content: "";
  position: absolute;
  left: 9%;
  bottom: 16px;
  width: 200px;
  height: 14px;
  transform: skew(-6deg) translateX(-50%);
  background: #FFCB9A;
  z-index: -1;
}

.text-highlight-green {
  font-weight: 700;
  color: #116466;
}

.text-highlight-light {
  font-weight: 700;
  color: #FFF;
}

@media all and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
}
@media all and (min-width: 450px) and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}
@media all and (max-width: 450px) {
  h1 {
    font-size: 35px;
  }
}
.nav-list {
  display: flex;
  padding: 1rem 0;
  margin: 0 0 20px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;
  height: 100px;
  background-color: #116466;
  color: #FFCB9A;
  font-weight: 700;
  font-size: 20px;
  line-height: 2;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 10px #FFCB9A;
}
.nav-list a {
  color: #D9B08C;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 20px;
  position: relative;
  flex-wrap: wrap;
  transition: all 200ms ease-in;
}
.nav-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 2px;
  width: 0;
  background: #FFCB9A;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-list a:hover::after {
  width: 100%;
  left: 0;
  color: #FFCB9A;
}
.nav-list a:visited {
  color: #D9B08C;
  text-decoration: none;
}
.nav-list a:visited:active {
  color: #FFCB9A;
}

.nav-item {
  list-style: none;
  margin-right: 2rem;
  color: #D9B08C;
  align-items: center;
  line-height: 0;
}

.nav-item:first-child {
  margin-right: auto;
  margin-left: 2rem;
}

a.logo-wrapper {
  transition: none;
  background: none;
}
a.logo-wrapper::after, a.logo-wrapper:hover::after {
  background: none;
  transition: none;
}

.logo {
  height: 4em;
  position: relative;
}

@media all and (max-width: 800px) {
  .page-header {
    font-size: 20px;
  }
}
@media all and (min-width: 500px) and (max-width: 800px) {
  .page-header {
    font-size: 20px;
  }
}
@media all and (max-width: 500px) {
  .page-header {
    font-size: 18px;
  }
  .profile__content {
    flex-shrink: 2;
  }
}
main {
  min-height: 100%;
  flex: 1;
  /* this margin: 0 auto makes the element take up the horizontal space in the container */
  margin: 0 auto;
  max-width: 1000px;
  text-align: justify-all;
}

.main--wideview {
  max-width: 1200px;
}

.content-inside-main {
  padding-top: 120px;
  padding-bottom: 100px;
}

a,
a:visited {
  /* color change to light brown-orange when visited */
  font-weight: bold;
  color: #116466;
  max-width: 100%;
  text-overflow: ellipsis;
}

a:hover,
a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* color change to greyish black when selected */
  color: #2C3531;
}

button,
.button {
  display: inline-block;
  padding: 10px;
  /* overwrites browser defaults and resets the border */
  border: none;
  border-radius: 3px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: #FFF;
  background-color: #116466;
  /* takes the font from the outer container */
  font-family: inherit;
  text-decoration: none;
  transition: 1s opacity;
  margin-bottom: 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5em 0;
  right: 0;
  left: 0;
}

.profile__portrait {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 0 10px #FFCB9A;
  shape-outside: circle(50%);
}

.profile__content {
  padding: 20px;
  width: 370px;
}

.profile-title > h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.profile__underline-effect {
  margin: 5px 0;
  color: #116466;
  padding: 15px 0;
  position: relative;
}

.profile__underline-effect::before {
  content: "";
  position: absolute;
  left: 48%;
  bottom: 14px;
  width: 180px;
  height: 14px;
  transform: skew(-6deg) translateX(-50%);
  background: #FFCB9A;
  z-index: -1;
}

.profile__button-wrapper {
  text-align: center;
  margin-top: 14px;
}

@media all and (max-width: 600px) {
  .profile__portrait {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFCB9A;
    shape-outside: circle(50%);
  }
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
  }
  h1 {
    font-size: 40px;
  }
}
@media all and (max-width: 400px) {
  .profile__portrait {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px #FFCB9A;
    shape-outside: circle(50%);
  }
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
  }
  h1 {
    font-size: 35px;
  }
}
.about-wrapper {
  padding: 20px;
}

.dev-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  padding: 0 0 1.5em 0;
}

.dev-skill-tag {
  margin: 0.3em;
  padding: 0.5em;
  -webkit-box-flex: 1;
  flex-grow: 1;
  max-width: 6em;
  background: #FFCB9A;
  color: #116466;
  font-size: 0.9em;
  text-align: center;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
}

.fun-activities-list {
  list-style-type: disc;
}

.card-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
  font-family: sans-serif;
  padding: 20px;
}

.card-wrapper * {
  box-sizing: border-box;
}

.card__1,
.card__2,
.card__3 {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  display: block;
  border-top: 2px solid #FFCB9A;
  border-right: 2px solid #FFCB9A;
  border-left: 2px solid #FFCB9A;
}

.card__content {
  line-height: 1.5;
  font-size: 0.9em;
  padding: 0 15px 15px 15px;
  background: #FFF;
  border-right: 2px solid #FFCB9A;
  border-left: 2px solid #FFCB9A;
}

.card__content > p:first-of-type {
  margin-top: 5px;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__title {
  justify-content: left;
  color: #116466;
  padding: 5px 0;
  display: -webkit-box !important;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}

.card__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #555555;
  background: #FFF;
  font-size: 0.8em;
  border-bottom: 2px solid #FFCB9A;
  border-right: 2px solid #FFCB9A;
  border-left: 2px solid #FFCB9A;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

.card__link {
  color: #64968c;
  text-decoration: none;
}

.card__link:hover {
  text-decoration: underline;
}

.card__link--disabled {
  color: #FFF;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.contact-details {
  padding: 20px;
  text-align: end;
}

.contact-form {
  display: inline-block;
  padding: 20px;
  border-left: 2px solid #FFCB9A;
  text-align: start;
}

.contact__underline-effect {
  margin: 5px 0;
  padding: 15px 0;
  position: relative;
  color: #116466;
  font-weight: 700;
  font-size: 1.2em;
}

.contact__underline-effect::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 14px;
  width: 85px;
  height: 14px;
  transform: skew(-6deg) translateX(-50%);
  background: #FFCB9A;
  z-index: -1;
}

.email-error {
  color: #FFCB9A;
  font-weight: 700;
}

.message-error {
  color: #FFCB9A;
  font-weight: 700;
}

.email-wrapper,
.telephone-wrapper,
.message-wrapper {
  padding: 2px 0;
  justify-content: space-evenly;
  justify-items: start;
}

.contact-email,
.contact-tel,
.contact-message {
  padding: 2px 3px;
}
.contact-email ::-webkit-input-placeholder,
.contact-tel ::-webkit-input-placeholder,
.contact-message ::-webkit-input-placeholder { /* Edge */
  color: #d3d3d3;
}
.contact-email :-ms-input-placeholder,
.contact-tel :-ms-input-placeholder,
.contact-message :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d3d3d3;
}
.contact-email ::placeholder,
.contact-tel ::placeholder,
.contact-message ::placeholder {
  color: #d3d3d3;
}

.contact__button-wrapper {
  text-align: left;
}

.button {
  text-align: center;
  margin-top: 2px;
}

@media all and (max-width: 800px) {
  .contact-details {
    padding: 20px;
    text-align: end;
  }
  .contact-form {
    display: inline-block;
    padding: 20px;
    border-left: 2px solid #FFCB9A;
    text-align: start;
  }
  .contact__button-wrapper {
    text-align: left;
  }
}
@media all and (min-width: 450px) and (max-width: 600px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .contact-details {
    padding: 20px;
    text-align: center;
  }
  .contact-form {
    display: inline-block;
    padding: 20px;
    border-top: 2px solid #FFCB9A;
    border-left: none;
    text-align: center;
  }
  .contact__button-wrapper {
    text-align: center;
  }
}
@media all and (max-width: 450px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .contact-details {
    padding: 20px;
    text-align: center;
  }
  .contact-form {
    display: inline-block;
    padding: 20px;
    border-top: 2px solid #FFCB9A;
    border-left: none;
    text-align: center;
  }
  .contact__button-wrapper {
    text-align: center;
  }
}
footer {
  background-color: #FFCB9A;
  color: #116466;
  min-width: 300px;
  height: 100px;
  margin: auto;
  margin-top: -100px;
  margin-bottom: 0;
}

.page-footer__logo {
  width: 30px;
  height: 30px;
}

.page-footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;
  grid-row-gap: 5px;
  width: 100%;
}

.page-footer__call-to-action {
  grid-column: 1/5;
  text-align: center;
}

.page-footer__social-media {
  grid-column: 1/5;
  text-align: center;
}
.page-footer__social-media a {
  text-decoration: none;
}

/* this shrinks the image to fit the space it has, should the viewport be smaller than the image
img{
    max-width:100%;
    display:block;
} */
/*# sourceMappingURL=styles.css.map */

/*# sourceMappingURL=styles.css.map */
