//========================
// FONTS & COLOR VARIABLES
//========================
//colors used (from visme/co/blog/website-color-schemes/ -->no.16 sleek and futuristic

// FONTS
$font-light: 400;
$font-bold: 700;

// COLORS
$dark-turquoise: #116466;
$light-turquoise: #D1E8E2;
$light-orange: #FFCB9A;
$dark-orange: #D9B08C;
$white: #FFF;
$grey: #2C3531;

// SEMANTIC COLOR NAMES
$shadow-color: $grey;

$menu-background-color: $dark-turquoise;
$body-background-color: $light-turquoise;
$footer-background-color: $light-orange;

$menu-font-color: $light-orange;
$main-font-color: $grey;
$footer-font-color: $dark-turquoise;

$link-color: $dark-turquoise;

// SEMANTIC VARIABLES

$footer-overlap: 100px;

//==========================
//GENERAL STYLES
//==========================
//universal * selector (which will apply the styling to all HTML elements) within your CSS file
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: $light-turquoise;
    color: $grey;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 16px;
    font-weight: $font-light;
    text-align: justify;
    hyphens: auto;
    text-transform: lowercase;
    line-height: 1.6;
}

%header-shared {
    font-weight: $font-bold;
    color: $dark-turquoise;
}

h1 {
    font-size: 30px;

    @extend %header-shared;
}

h2 {
    font-size: 25px;

    @extend %header-shared;
}

h3 {
    font-size: 20px;

    @extend %header-shared;
}

h4 {
    font-size: 20px;
    font-weight: $font-bold;
    color: $dark-orange;
    text-shadow: 0 1px rgba(44, 53, 49, 0.3);
}

h5 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

.text-highlight-green {
    font-weight: $font-bold;
    color: $dark-turquoise;
}

.text-highlight-light {
    font-weight: $font-bold;
    color: $white;
}

//=============================
// NAVIGATION
//=============================

header {
    background-color: $dark-turquoise;
    color: $light-orange;
    font-weight: $font-bold;
    font-size: 20px;
    line-height: 2;
    margin: 0 auto;
    min-width: 300px;

    a,
    a:visited {
        color: $dark-orange;
        text-decoration: none;

        &:active {
            color: $light-orange;
        }
    }
}

.logo {
    height: 80px;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    border-bottom: 3px solid $light-turquoise;
}

.page-header__logo-item {
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: flex-start;
}

.page-header__nav-item {
    display: flex;
    flex-direction: row;
    height: 80px;
    flex-grow: 1;
    justify-content: flex-end;
    list-style-type: none;
}

.navigation-list {
    display: flex;
}

.navigation-list__item {
    padding: 20px 10px;
    flex-wrap: wrap;
}

//MEDIA QUERY
@media all and (max-width: 750px) {
    header {
        font-size: 20px;
    }
}

@media all and (min-width: 500px) and (max-width: 750px) {
    header {
        font-size: 20px;
    }
}

@media all and (max-width: 500px) {
    header {
        font-size: 18px;
    }

    .page-header__nav-item {
        flex-shrink: 2;
    }
}

//===============================
// MAIN CONTENT AREA
//===============================

main {
    min-height: 100%;
    flex: 1;

    /* this margin: 0 auto makes the element take up the horizontal space in the container */
    margin: 0 auto;
    max-width: 1000px;
    text-align: justify-all;
}

.main--wideview {
    max-width: 1200px;
}

.content-inside-main {
    padding-top: 120px;
    padding-bottom: $footer-overlap;
}

a,
a:visited {
    /* color change to light brown-orange when visited */
    font-weight: bold;
    color: $dark-turquoise;
    max-width: 100%;
    text-overflow: ellipsis;
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}

a:active {
    /* color change to greyish black when selected */
    color: $grey;
}

button,
.button {
    display: inline-block;
    padding: 10px;

    /* overwrites browser defaults and resets the border */
    border: none;
    border-radius: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    color: $white;
    background-color: $dark-turquoise;

    /* takes the font from the outer container */
    font-family: inherit;
    text-decoration: none;
    transition: 1s opacity;
    margin-bottom: 10px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;

    /* reduces the opacity of the button to 80% */
    opacity: 0.8;
}

//=======================
// HOMEPAGE
//=======================
.profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    padding: 0 40px;
    align-items: center;
}

.profile__item {
    float: left;
    width: auto;
    max-width: 800px;
    min-height: auto;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.profile__item--title{
    margin-bottom: 0;
    font-size: 40px;
}

.profile__item--subtitle{
    margin-top: 0;
    color: $dark-orange;
    font-size: 35px;
}

.profile__item--content{
    text-align: left;
}

.dev-skills-title{
    margin-bottom: 0;
}

.dev-skills{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;
    padding: 1.5em 0;
}

.dev-skill-tag{
    margin: 0.3em;
    padding: 0.5em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 6em;
    background: $light-orange;
    color: $dark-turquoise;
    font-size: 0.9em;
    text-align: center;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.profile__item--button{
    text-align: center;
}

//MEDIA QUERY
@media all and (max-width: 750px) {
    .profile {
        grid-gap: 10px;
    }

    .profile__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }
}
//
//@media all and (min-width: 600px) and (max-width: 750px) {
//    .profile {
//        grid-template-columns: 1fr 1fr;
//    }
//}

@media all and (max-width: 700px) {
    .profile {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }
}

.profile__portrait {
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    padding: 20px 10px 0px 10px;
}


//CHECKING IF BROWSER SUPPORTS CSS GRID
@supports (display: grid) {
    .profile__portrait {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 50%;
        padding: 20px 10px 0px 10px;
    }
}

//=======================
// PORTFOLIO - PROJECTS
//=======================



.cards {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding: 0 0 20px 0;
}

.cards * {
    box-sizing: border-box;
}

.card__1,
.card__2,
.card__3{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.card__image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-top: 2px solid $light-orange;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__content {
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0 15px 15px 15px;
    background: $white;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__content > p:first-of-type {
    margin-top: 5px;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.card__title{
    justify-content: left;
    color: $dark-turquoise;
    padding: 5px 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.card__info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: $white;
    font-size: 0.8em;
    border-bottom: 2px solid $light-orange;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.card__link--disabled {
    color: $white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

//
////FALLBACK-SOLUTION FOR BROWERS NOT SUPPORTING CSS GRIDS
//.cards {
//    display: inline-block;
//    width: 33%;
//}

////MEDIA QUERY
//@media all and (max-width: 750px) {
//    .cards {
//        grid-gap: 10px;
//    }
//
//
//    h1 {
//        font-size: 30px;
//    }
//
//    h5 {
//        font-size: 25px;
//    }
//}
//
//@media all and (min-width: 500px) and (max-width: 750px) {
//    .cards {
//        grid-template-columns: 1fr 1fr;
//    }
//}
//
//@media all and (max-width: 500px) {
//    .cards {
//        grid-template-columns: 1fr;
//    }
//
//    h1 {
//        font-size: 25px;
//    }
//
//    h5 {
//        font-size: 20px;
//    }
//}



//========================
// ABOUT PAGE
//========================

.skill-set {
    list-style-type: circle;
}

.fun-activities-list {
    list-style-type: circle;
}

.city {
    width: 400px;
    height: 300px;
    padding: 20px;
}

/*
@keyframes cloud-move-reverse{
    from{
        transform:translate(446px,48px)
    }
    to{
        transform:translate(100px,48px)
    }
}

.cloud-back{
    animation: 34s cloud-move-reverse infinite alternate linear;
}
*/

@keyframes tower-color-change {
    0% {
        fill: lightgoldenrodyellow;
    }

    50% {
        fill: $light-orange;
    }

    100% {
        fill: $dark-orange;
    }
}

#polygon12 {
    animation: 4s tower-color-change infinite alternate linear;
}

@keyframes tower2-color-change {
    0% {
        fill: lightgoldenrodyellow;
    }

    50% {
        fill: $light-orange;
    }

    100% {
        fill: $dark-orange;
    }
}

#polygon14 {
    animation: 4s tower2-color-change infinite alternate linear;
}

//======================
// CONTACT PAGE
//======================

//.contact{
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//    grid-gap: 20px;
//    margin: 0 auto;
//    padding: 0 40px;
//    align-items: center;
//}
//
//.contact__item{
//    float: left;
//    width: auto;
//    max-width: 800px;
//    min-height: auto;
//    justify-content: center;
//    text-align: left;
//    padding: 10px;
//}
//
//.contact__item--call-to-action{
//    line-height: 1em;
//}
//
//.contact__item--image{
//    width: 100%;
//    min-max-width: 200px;
//    height: auto;
//    border-radius: 50%;
//    padding: 20px 10px 0px 10px;
//}

.contact__item--call-to-action{
    color: $dark-orange;
    line-height: 1.2em;
}

#contact-form {
    width: 400px;
    position:relative;
    display: inline-block;
}

#email-error {
    color: $light-orange;
    font-weight: $font-bold;
}

#message-error {
    color: $light-orange;
    font-weight: $font-bold;
}


.email-wrapper,
.telephone-wrapper,
.message-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px 0;
    justify-content: space-evenly;
    justify-items: start;
}

#contact-form-button {
    margin-top: 2px;
}

//======================
// FOOTER AREA
//======================

footer {
    background-color: $light-orange;
    color: $dark-turquoise;
    min-width: 300px;
    height: 100px;
    margin: auto;
    margin-top: -$footer-overlap;
    margin-bottom: 0;
}

.page-footer__logo {
    width: 30px;
    height: 30px;
}

.page-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5px;
    width: 100%;
}

.page-footer__call-to-action {
    grid-column: 1/5;
    text-align: center;
}

.page-footer__social-media {
    grid-column: 1/5;
    text-align: center;

    a {
        text-decoration: none;
    }
}

/* this shrinks the image to fit the space it has, should the viewport be smaller than the image
img{
    max-width:100%;
    display:block;
} */

/*# sourceMappingURL=styles.css.map */
