
.idea/
node_modules/
.DS_Store
/_not_public/
/node_modules/

/img/1501971588.svg
/img/3225191_app_instagram_logo_media_popular_icon.svg
/img/AirBnB_ProjectCard_Image2.jpg
/img/AirBnB_ProjectCard_Img_630x413.png
/img/Bewerbungsfoto.jpg
/img/ChattyBetty_ProjectCard_Image.jpg
/img/ChattyBetty_ProjectCard_Image.png
/img/ChattyBetty_ProjectCard_Image2.jpg
/img/ChattyBetty_ProjectCard_Image2.png
/img/ChattyBetty_ProjectCard_Image3.jpg
/img/ColoringAPI_ProjectCard_Image_resize2_v2.png
/img/ColoringAPI_Swagger.png
/img/GreenScreen_Mockup_darkbg2.jpg
/img/GreenScreen_mockup_case-study.jpg
/img/GreenScreen_mockup_case-study2.jpg
/img/GreenScreen_mockup_darkbg.jpg
/img/GreenScreen_mockup_lightbg.jpg
/img/GreenScreen_mockup_orangebg.jpg
/img/MeetUpApp_ProjectCart_Image_resize2.png
/img/MemeGenerator_ProjectCard_Image.jpg
/img/MemeGenerator_ProjectCard_Image4.jpg
/img/MemeGenerator_ProjectCard_Image5.jpg
/img/MemeGenerator_ProjectCard_Image6.jpg
/img/MemeGenerator_ProjectCard_Img_630x413.png
/img/MemeGenerator_ProjectCard_enlarged.png
/img/Screenshot_PokedexApp_jQuery.png
/img/Screenshot_scss_buttons.png
/img/icon_male-user.png
/img/quotation-mark-left.jpeg
/img/quotation-mark.png
