@import "../abstract/variables";

// FOR BIG SCREENS
// Wrapper
.nav-list {
    width: 100%;
    background: $dark-turquoise;
    display: flex;
    margin: 0 0 20px 0;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    position: fixed;
    height: 100px;
    box-shadow: 0 0 10px $light-orange;
    align-items: center;
}

// Horizontal Menu items
.ham-items {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;

}


.ham-items {
    a{
        position: relative;
        flex-basis: 1;
        flex-wrap: wrap;
        padding: 10px 20px;
        color: $light-orange;
        text-decoration: none;
        text-transform: lowercase;
        text-align: center;
        letter-spacing: 0.15em;
        display: inline-block;
        font-weight: $font-bold;
        font-size: 1.2rem;
        line-height: 2;
        transition: all 200ms ease-in;

    }
    a:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        display: block;
        background: none repeat scroll 0 0 transparent;
        height: 2px;
        width: 0;
        background: $light-orange;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }


    a:hover::after {
        width: 100%;
        left: 0;
        color: $light-orange;
    }

    a:visited {
        color: $light-orange;
        text-decoration: none;

        &:active {
            color: $light-orange;
        }
    }
}

.ham-items:first-child {
    margin-right: auto;
    margin-left: 2rem;
}

a.logo-wrapper {
    transition: none;
    background: none;
    flex-basis: 0;
    align-items: center;
    line-height: 0;

    &::after, &:hover::after {
        background: none;
        transition: none;
    }
}

.logo {
    height: 80px;

}

// HAMBURGER MENU
//HIDE HAMBURGER
.nav-list label, #hamburger { display: none; }




//===================
//MEDIA QUERIES
//===================

@media all and (max-width: 620px) {
    .page-header {
        font-size: 20px;
    }

    // Break into vertical menu
    .ham-items {
        a {
            display: block;
            width: 100%;
            border-top: 1px solid $light-turquoise;
            border-bottom: 1px solid $light-turquoise;
        }

        a:after{
            display: block;
            background: none;
            color: $dark-turquoise;
            transition: none;
        }
        a:hover{
            color: $light-turquoise;
        }
        a:first-child{
            border-top: 2px solid $light-turquoise;
        }
        a:last-child{
            border-bottom: 2px solid $light-turquoise;
        }


    }

    //show hamburger icon
    .nav-list label {
        display: inline-block;
        color: $light-orange;
        font-style: normal;
        font-size: 2.5em;
        padding: 10px;
        margin-left: auto;
        text-align: right;
        justify-content:flex-end;
        cursor: pointer;
    }

    //toggle show/hide menu
    .ham-items {
        display: none;
    }
    .nav-list input:checked ~ .ham-items {
        display: block;
        position: absolute;
        margin-top: 340px;
        background: $dark-turquoise;
        width: 100%;
        left: 0;
        right: 0;
    }
}
