@import "../abstract/variables";

// FOR BIG SCREENS
// Wrapper
.nav-list {
    width: 100%;
    background: $nav-background-color;
    display: flex;
    margin: 0 0 20px 0;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    position: fixed;
    height: 100px;
    box-shadow: 0 0 10px $box-shadow;
    align-items: center;
}

.nav-list:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    border-bottom: solid 2px $highlight;
    animation: border_anim 3s linear forwards;
}

@keyframes border_anim {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


// Horizontal Menu items
.ham-items {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
}


.ham-items {
    a {
        position: relative;
        flex-basis: 1;
        flex-wrap: wrap;
        padding: 5px 20px;
        margin-left: 5px;
        color: $nav-font-color;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 0.15em;
        display: inline-block;
        font-weight: $font-bold;
        font-size: 1.4rem;
        line-height: 2;
    }


    a:hover, a:focus {
        color: $nav-font-color;
        background: $white;
        transition: 0.5s;
        border-radius: 5px;
    }

    a.ham-item--active{
        color: $white;
        background: $dark-blue;
        border-radius: 5px;
    }
}

.ham-items:first-child {
    margin-right: auto;
    margin-left: 2rem;
}


.brand-name-wrapper {
    text-decoration: none;
}

.brand-name {
    color: $brand-name;
    font-size: 50px;
    padding-left: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

// HAMBURGER MENU
//HIDE HAMBURGER
.nav-list label, #hamburger {
    display: none;
}


//===================
//MEDIA QUERIES
//===================

@media all and (max-width: 800px) {
    .page-header {
        font-size: 20px;
    }

    // Break into vertical menu
    .ham-items {
        a {
            display: block;
            width: 100%;
            border-top: 1px solid $ham-border;
            border-bottom: 1px solid $ham-border;
        }

        a:after {
            display: block;
            background: none;
            color: $link;
            transition: none;
        }

        a:hover, a:focus {
            color: $link-discreet;
        }

        a:first-child {
            border-top: 2px solid $ham-border;
        }

        a:last-child {
            border-bottom: 2px solid $ham-border;
        }


    }

    //show hamburger icon
    .nav-list label {
        display: inline-block;
        color: $link;
        font-style: normal;
        font-size: 2.5em;
        padding: 10px;
        margin-left: auto;
        text-align: right;
        justify-content: flex-end;
        cursor: pointer;
    }

    //toggle show/hide menu
    .ham-items {
        display: none;
        transition: 0.5ms;
    }
    .nav-list input:checked ~ .ham-items {
        display: block;
        position: absolute;
        top: 100px;
        background: $nav-background-color;
        width: 100%;
        height: -100px;
        left: 0;
        right: 0;
        transition: 0.5ms;
    }
}

@media all and (max-width: 320px) {
    .brand-name {
        color: $brand-name;
        font-size: 40px;
        padding-left: 20px;
        text-decoration: none;
    }
}