//========================
// FONTS & COLOR VARIABLES
//========================
//colors used (from visme/co/blog/website-color-schemes/ -->no.16 sleek and futuristic

// FONTS
$font-light: 400;
$font-bold: 700;

// COLORS
//$dark-turquoise: #116466;
//$light-turquoise: #D1E8E2;
//$light-orange: #FFCB9A;
//$dark-orange: #D9B08C;
$white: #FFF;
$grey: #2C3531;
$light-grey: #d3d3d3;
$dark-green: #379683;
$neon-green: #5CDB95;
$light-green: #8EE4AF;
$beige: #EDF5E1;
$dark-blue: #05386B;

// SEMANTIC COLOR NAMES

$brand-name: $dark-blue;

$icon: $neon-green;

$nav-background-color: $beige;
$nav-font-color: $dark-blue;
$nav-font-color-after: $neon-green;
$ham-border: $neon-green;

$body-background-home: $beige;
$main-font-color-home: $dark-blue;
$box-shadow-home: $light-green
;
$highlight-font-home: $white;
$highlight-home: $dark-blue;
$footer-background-home: $beige;

$body-background-color: $beige;
$main-font-color: $dark-blue;

$footer-background-color: $beige;
$footer-font-color: $dark-blue;

$link: $dark-blue;
$link-discreet: $neon-green;

$placeholder-color: $light-grey;

$tag-background-color: $neon-green;
$tag-font-color: $dark-blue;

$speech-bubble-background: $white;
$speech-bubble-font-color: $dark-blue;

$border: $beige;
$border-highlight: $neon-green;
$box-shadow: $light-green;
$shadow-color: $grey;

$highlight-font: $dark-blue;
$highlight: $light-green;

$error: $dark-green;

$card-title: $dark-blue;
$card-background: $beige;
$card-text: $dark-blue;
$card-border: $neon-green;
$card-link: $dark-green;
$card-link--disabled: $beige;

$font-discreet: $light-green;

$button: $beige;
$button-text: $dark-blue;
$button-border: $dark-blue;

// SEMANTIC VARIABLES

$footer-overlap: 100px;