//========================
// FONTS & COLOR VARIABLES
//========================
//colors used (from visme/co/blog/website-color-schemes/ -->no.16 sleek and futuristic

// FONTS
$font-light: 400;
$font-bold: 700;

// COLORS
$dark-turquoise: #116466;
$light-turquoise: #D1E8E2;
$light-orange: #FFCB9A;
$dark-orange: #D9B08C;
$white: #FFF;
$grey: #2C3531;
$light-grey: #d3d3d3;

// SEMANTIC COLOR NAMES
$shadow-color: $grey;

$menu-background-color: $dark-turquoise;
$body-background-color: $light-turquoise;
$footer-background-color: $light-orange;

$menu-font-color: $light-orange;
$main-font-color: $grey;
$footer-font-color: $dark-turquoise;

$link-color: $dark-turquoise;
$placeholder-color: $light-grey;

// SEMANTIC VARIABLES

$footer-overlap: 100px;