@import "../abstract/variables";
@import "../layouts/navbar";

@font-face {
    font-family: 'MyolivinBold-gxR6q';
    src: url('../../Portfolio-Website/fonts/MyolivinBold-gxR6q.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* nanum-gothic-regular - latin */
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/nanum-gothic-v21-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/nanum-gothic-v21-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/nanum-gothic-v21-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/nanum-gothic-v21-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/nanum-gothic-v21-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/nanum-gothic-v21-latin-regular.svg#NanumGothic') format('svg'); /* Legacy iOS */
}

/* indie-flower-regular - latin */
@font-face {
    font-family: 'Indie Flower';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/indie-flower-v17-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('../fonts/indie-flower-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/indie-flower-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/indie-flower-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/indie-flower-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/indie-flower-v17-latin-regular.svg#IndieFlower') format('svg'); /* Legacy iOS */
}

.brand-name{
    font-family: MyolivinBold-gxR6q, serif;
}

h1 {
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}

h2 {
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}


h3 {
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}

h4 {
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}

.ham-items {
    a {
        font-family: MyolivinBold-gxR6q, serif;
        color: $main-font-color;
    }
}

h5 {
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}

.call-to-action{
    font-family: MyolivinBold-gxR6q, serif;
    color: $main-font-color;
}

.impressum-link {
    font-family: MyolivinBold-gxR6q, serif;
    text-transform: uppercase;
}

.impressum-link-home {
    font-family: MyolivinBold-gxR6q, serif;
    text-transform: uppercase;
}

.font-sans-serif{
    font-family: sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}
