@import "../abstract/variables";
@import "../layouts/navbar";

@font-face {
    font-family: 'ATTRACTMOREWOMEN';
    src: url('../../fonts/ATTRACTMOREWOMEN.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.logo{
    font-family: ATTRACTMOREWOMEN, serif;
}

h1 {
    font-family: ATTRACTMOREWOMEN, serif;
    color: $dark-turquoise;
}
