@import "../abstract/variables";

%header-shared {
    font-weight: $font-bold;
    color: $dark-turquoise;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: lowercase;

    @extend %header-shared;
}

h2 {
    font-size: 30px;
    text-transform: lowercase;
    @extend %header-shared;
}

h3 {
    font-size: 20px;

    @extend %header-shared;
}

h4 {
    font-size: 20px;
    font-weight: $font-bold;
    color: $dark-orange;
    text-shadow: 0 1px rgba(44, 53, 49, 0.3);
}

h5 {
    font-size: 25px;
    padding: 0;
    margin: 0;
}

a,
a:visited {
    font-weight: bold;
    color: $dark-turquoise;
    max-width: 100%;
    text-overflow: ellipsis;
}

a:hover,
a:focus {
    /* No underlining when hovering over a link */
    text-decoration: none;
}
