@import "../abstract/variables";

button,
.button {
    display: inline-block;
    padding: 12px 15px;
    text-align: center;
    margin-top: 2px;
    font-size: 1.2rem;

    /* overwrites browser defaults and resets the border */
    color: $button-text;
    background-color: $button;
    border: 1px solid $button-border;
    border-radius: 5px;

    /* takes the font from the outer container */
    font-family: inherit;
    text-decoration: none;
    margin-bottom: 10px
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;

    /* reduces the opacity of the button to 80% */
    background: $light-green;
    color: $white;
    border: 1px solid $beige;
    transition: all 0.2s;
}

// PROJECT PAGE

.card__button{
    display: inline-block;
    padding: 5px 8px;
    text-align: center;
    //margin-top: 2px;
    font-size: 0.9rem;

    /* overwrites browser defaults and resets the border */
    color: $button-text;
    background-color: $button;
    border: 1px solid $button-border;
    border-radius: 5px;

    /* takes the font from the outer container */
    font-family: inherit;
    text-decoration: none;
}

.card__button:hover,
.card__button:focus{
    /* lets the mouse appear as a hand when hovering over the button */
    cursor: pointer;

    /* reduces the opacity of the button to 80% */
    background: $light-green;
    color: $white;
    border: 1px solid $beige;
    transition: all 0.2s;
}

.card__button:disabled{
    color: $card-link--disabled;
    cursor: default;
    pointer-events: none;
}




