@import "../abstract/variables";

.link {
    font-family: Nanum Gothic, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    transform: scale(0.7);
}

.link:hover {
    text-decoration: underline;
}

.link--disabled {
    color: $white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.link--discreet{
    color: $dark-orange;
}

.link--inherit-sized{
    font-family: Nanum Gothic, sans-serif;
    text-decoration: none;
}

.link--inherit-sized:hover {
    text-decoration: underline;
}
