@import "../abstract/variables";
@import "../base/external-fonts";

.link {
    font-family: Nanum Gothic, sans-serif;
    font-size: 0.9em;
    text-decoration: none;
    transform: scale(0.7);
}

.link:hover {
    text-decoration: underline;
}

.link--disabled {
    color: $beige;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.link--discreet{
    color: $link-discreet;
}

.link--inherit-sized{
    font-family: Nanum Gothic, sans-serif;
    text-decoration: none;
    border-bottom: 2px solid $dark-blue;
    padding-bottom: 1px;
}

.link--inherit-sized:hover {
    color: $neon-green;
    text-decoration: none;
    border-bottom: 2px solid $neon-green;
    padding-bottom: 1px;
}
