@import "../abstract/variables";
@import "../components/tags";


.about-wrapper{
    padding: 20px;
}

.about__underline-effect{
    font-size: 20px;
    margin: 5px 0;
    padding: 15px 0;
    position: relative;
    font-weight: $font-bold;
    color: $dark-turquoise;
}

.about__underline-effect::before {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 16px;
    width: 200px;
    height: 14px;
    transform: skew(-6deg) translateX(-50%);
    background: $light-orange;
    z-index: -1;
}

.fun-activities-list {
    list-style-type: disc;
}
