@import "../abstract/variables";

.body {
    background: $body-background-home;
    color: $main-font-color-home;

}

.main--wideview-home {
    background: $body-background-home;
    color: $main-font-color-home;
}

.content-inside-main-home {
    background: $body-background-home;
    color: $main-font-color-home;
    padding-top: 140px;
    padding-bottom: $footer-overlap;
}

.brand-name-wrapper {
    text-decoration: none;
}

.profile-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    right: 0;
    left: 0;
}

.profile__portrait {
    border-radius: 50%;
    height: 300px;
    box-shadow: 0 0 20px $box-shadow-home;

    /* this shrinks the image to fit the space it has, should the viewport be smaller than the image
} */
    display: block;
}


.profile__content {
    margin: 30px;
    width: 400px;
}

.profile__title > h1 {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.profile__text {
    text-align: justify;
}

//.loader{
//    position: relative;
//    background: $light-green;
//    border: 1px solid;
//    border-radius: 5px;
//    padding: 0 15px;
//    margin-bottom: -16px;
//    margin-top: 1px;
//    margin-left: 62px;
//    width: 70%;
//    font-weight: 700;
//    color: $dark-blue;
//    text-align: justify;
//    align-self: center;
//    a{
//        text-decoration: none;
//        color: $dark-blue;
//    }
//}
//


//@keyframes blink {50% { color: transparent }}
//.loader__dot {
//    animation: 2s blink infinite;
//    font-size: 2rem;
//    font-weight: 700;
//}
//.loader__dot:nth-child(2) {
//    animation-delay: 250ms;
//    font-size: 2rem;
//    font-weight: 700;
//}
//.loader__dot:nth-child(3) {
//    animation-delay: 500ms;
//    font-size: 2rem;
//    font-weight: 700;
//}

//.profile__button-wrapper {
//    text-align: center;
//    margin-top: 25px;
//}

.reference-icon-wrapper{
    text-align: center;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        text-decoration: none;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a:hover{
        cursor: pointer;
        color: $white;
    }
}

.Github-button, .CV-button, .LinkedIn-button{
    border-radius: 5px;
    color: $dark-blue;
    background: $beige;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 3px 8px 3px 1px;
    margin: 5px;
    height: 55px;
    width: 150px;
    transition: all 0.2s;
    .icon-1{
        content: url("../../img/icon_github_dark-blue.png");
        width: 60px;
        height: 60px;
    }
    .icon-2{
        content: url("../../img/icon_linkedin.png");
        width: 60px;
        height: 60px;
    }
    .icon-3{
        content: url("../../img/icon_resume_dark-blue.png");
        width: 60px;
        height: 48px;
    }
}

.Github-button:hover, .CV-button:hover, .LinkedIn-button:hover,
.Github-button:focus, .CV-button:focus, .LinkedIn-button:focus,
{
    background: $light-green;
    cursor: pointer;
    color: $white;
    border: none;

    .icon-1 {
        content: url("../../img/icon_Github_white.png");
        width: 60px;
        height: 60px;
    }
    .icon-2{
        content: url("../../img/icon_linkedin_white.png");
        width: 60px;
        height: 60px;
    }
    .icon-3{
        content: url("../../img/icon_resume_white.png");
        width: 60px;
        height: 48px;
    }

}



//=================
//FEATURE QUERY
//=================
@supports (display: grid) {
    .profile__portrait {
        height: 300px;
        border-radius: 50%;
    }
}

//=================
//MEDIA QUERIES
//=================

@media all and (max-width: 620px) {

    .profile-wrapper {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
    }

}

@media all and (max-width: 430px) {

    .profile-wrapper {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
    }

    .profile__portrait {
        border-radius: 50%;
        height: 200px;
        box-shadow: 0 0 10px $box-shadow-home;
    }

    .profile__content {
        margin: 20px;
        width: 390px;
    }
}

@media all and (max-width: 390px) {

    .profile-wrapper {
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
    }

    .profile__portrait {
        border-radius: 50%;
        height: 200px;
        box-shadow: 0 0 10px $box-shadow-home;
    }

    .profile__content {
        margin: 20px;
        width: 335px;
    }

    .reference-icon-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        a {
            justify-content: flex-start;
        }
    }
}

@media all and (max-width: 320px) {

    .content-inside-main-home {
        padding-top: 100px;
    }

    .profile__content {
        margin: 20px;
        width: 280px;
    }

    .profile__title > h1 {
        font-size: 35px;
        font-weight: bold;
        text-align: center;
    }

    .reference-icon-wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        a {
            justify-content: flex-start;
        }
    }
}