@import "../abstract/variables";


.profile-wrapper {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5em 0;
    right: 0;
    left: 0;
}

.profile__portrait{
    border-radius: 50%;
    height: 300px;
    box-shadow: 0 0 10px $light-orange;

    /* this shrinks the image to fit the space it has, should the viewport be smaller than the image
} */
    display:block;
}



.profile__content{
    padding: 20px;
    width: 370px;
}

.profile-title > h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.profile__underline-effect{
    margin: 5px 0;
    color: $dark-turquoise;
    padding: 15px 0;
    position: relative;
}

.profile__underline-effect::before {
    content: "";
    position: absolute;
    left: 48%;
    bottom: 14px;
    width: 180px;
    height: 14px;
    transform: skew(-6deg) translateX(-50%);
    background: $light-orange;
    z-index: -1;
}

.profile__button-wrapper{
    text-align: center;
    margin-top: 14px;
}


//=================
//FEATURE QUERY
//=================
@supports (display: grid) {
    .profile__portrait {
        height: 300px;
        border-radius: 50%;
    }
}

//=================
//MEDIA QUERIES
//=================

@media all and (max-width: 620px) {

    .profile-wrapper{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
    }

}

@media all and (max-width: 400px) {

    .profile-wrapper{
        display: flex;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        right: 0;
        left: 0;
    }

    .profile__portrait {
        border-radius: 50%;
        height: 200px;
        box-shadow: 0 0 10px $light-orange;
    }
}

