@import "../abstract/variables";
@import "../components/tags";


.impressum-wrapper{
    padding: 20px;

}

.impressum-generator{
    color: $dark-green;
    font-family: Nanum Gothic, sans-serif;
    font-size: 0.9em;

    a{
        color: $dark-green;
    }
}



