@import "../abstract/variables";
@import "../components/tags";
@import "../base/external-fonts";


.impressum-wrapper{
    padding: 20px;
}

.impressum__header{
    margin-block-start: 40px;
    margin-block-end: 20px;
}

.impressum__address, .impressum__contact-details{
    text-align: center;
}

.attribution__list{
    list-style-type: none;
    padding-inline-start: 0;
    text-align: center;
}

.impressum-generator{
    margin-top: 50px;
    color: $dark-blue;
    font-family: Nanum Gothic, sans-serif;
    font-size: 1em;
    text-align: center;

    a{
        color: $dark-blue;
    }
}




