@import "../abstract/variables";

.card-wrapper * {
    box-sizing: border-box;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 30px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
   font-family: sans-serif;
}


div.card {
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

div.card__content p {
    font-size: 1em;
    line-height: 1.125; // Default is 1.2, but varies by browser
    min-height: 9em; // 8 * 1em * 1.125
    // (number of lines) * (font-size) * (line-height multiplier)
}

.card__image{
    width: 100%;
    height: 250px;
    //object-fit: cover;
    display: block;
    justify-self: flex-start;
    border-top: 2px solid $card-border;
    border-right: 2px solid $card-border;
    border-left: 2px solid $card-border;
}


.card__content {
    flex: 1;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0 15px 0 15px;
    background: $card-background;
    border-right: 2px solid $card-border;
    border-left: 2px solid $card-border;
}

.card__content > p:first-of-type {
    padding-top: 5px;
    margin: 0;
}

.card__content > p:last-of-type {
    padding-bottom: 5px;
    margin: 0;
}

.font-bold{
    font-weight: $font-bold;
}

.card__title{
    justify-content: left;
    color: $card-title;
    padding: 10px 0 5px 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.card__dev-skill-wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;

    padding: 5px 0 5px 0;
}

.card__dev-skill-detail{
    margin: 0.3em;
    padding: 0.5em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 7em;
    background: $tag-background-color;
    color: $tag-font-color;
    font-size: 0.8em;
    text-align: center;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.card__info {
    padding: 10px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $card-link;
    background: $card-background;
    font-size: 0.8em;
    border-bottom: 2px solid $border-highlight;
    border-right: 2px solid $border-highlight;
    border-left: 2px solid $border-highlight;
}

.card__info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: $card-link;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.card__link--disabled {
    color: $card-link--disabled;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}

.work-in-progress{
    color: $card-link--disabled;
}

.discreet{
    color: $font-discreet;
}


//=================
//FEATURE QUERIES
//=================

@supports (display: flex) and (not (display: grid)) {
    .card-wrapper {
        display: flex;
        justify-items: center;
        width: 500px;
        height: 200px;
        border: 1px solid $border-highlight;
    }

    .card-wrapper > div {
        width: auto;
    }
}

@supports (display: inline-block) and (not (display: flex)) {
    .card-wrapper {
        display: inline-block;
        width: 33%;
    }
}

//===============
//MEDIA QUERY
//===============

@media all and (max-width: 500px) {

    .profile__content {
        flex-shrink: 2;
    }
}

@media all and (max-width: 320px) {
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-auto-rows: auto;
        grid-auto-flow: dense;
        gap: 20px;
        margin: 0 auto;
        padding: 10px;
        max-width: 320px;
        font-family: sans-serif;
    }

    .card__image{
        width: 100%;
        height: 200px;
        //object-fit: cover;
        display: block;
        justify-self: flex-start;
        border-top: 2px solid $card-border;
        border-right: 2px solid $card-border;
        border-left: 2px solid $card-border;
    }
}

