@import "../abstract/variables";

.card-wrapper * {
    box-sizing: border-box;
}

.card-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
   font-family: sans-serif;
}


div.card {
    //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

div.card__content p {
    font-size: 1em;
    line-height: 1.125; // Default is 1.2, but varies by browser
    min-height: 9em; // 8 * 1em * 1.125
    // (number of lines) * (font-size) * (line-height multiplier)
}

.card__image {
    flex: 1;
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    border-top: 2px solid $light-orange;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__content {
    flex: 1;
    line-height: 1.5;
    font-size: 0.9em;
    padding: 0 15px 0 15px;
    background: $white;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__content > p:first-of-type {
    padding-top: 5px;
    margin: 0;
}

.card__content > p:last-of-type {
    padding-bottom: 5px;
    margin: 0;
}

.font-bold{
    font-weight: $font-bold;
}

.card__title{
    justify-content: left;
    color: $dark-turquoise;
    padding: 10px 0 5px 0;
    display: -webkit-box !important;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

.card__dev-skill-wrapper{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;

    padding: 5px 0 5px 0;
}

.card__dev-skill-detail{
    margin: 0.3em;
    padding: 0.5em;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 6em;
    background: $light-turquoise;
    color: $dark-turquoise;
    font-size: 0.8em;
    text-align: center;
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.card__info {
    flex: 1;
    padding: 10px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: #555555;
    background: $white;
    font-size: 0.8em;
    border-bottom: 2px solid $light-orange;
    border-right: 2px solid $light-orange;
    border-left: 2px solid $light-orange;
}

.card__info i{
    font-size: 0.9em;
    margin-right: 8px;
}

.card__link {
    color: #64968c;
    text-decoration: none;
}

.card__link:hover {
    text-decoration: underline;
}

.card__link--disabled {
    color: $white;
    text-decoration: none;
    cursor: default;
    pointer-events: none;
}



////FALLBACK-SOLUTION FOR BROWERS NOT SUPPORTING CSS GRIDS

//@supports (display: flex) and (not (display: grid)) {
//    .card-wrapper {
//        display: flex;
//        justify-items: center;
//        width: 500px;
//        height: 200px;
//        border: 1px solid $light-grey;
//    }
//
//    .card-wrapper > div {
//        width: auto;
//    }
//}

@supports (display: inline-block) and (not (display: flex)) {
    .card-wrapper {
        display: inline-block;
        width: 33%;
    }
}


////MEDIA QUERY
//@media all and (max-width: 750px) {
//    .card-wrapper {
//        grid-gap: 10px;
//    }
//
//
//    h1 {
//        font-size: 30px;
//    }
//
//    h5 {
//        font-size: 25px;
//    }
//}
//
//@media all and (min-width: 500px) and (max-width: 750px) {
//    .card-wrapper {
//        grid-template-columns: 1fr 1fr;
//    }
//}
//
//@media all and (max-width: 500px) {
//    .card-wrapper {
//        grid-template-columns: 1fr;
//    }
//
//    h1 {
//        font-size: 25px;
//    }
//
//    h5 {
//        font-size: 20px;
//    }
//}


